.breadcrumbs {
    line-height: 28px;
    background: #343434;
    border-bottom: 1px solid #cdcdcd;
}

.breadcrumbs__wrapper-block {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
