.header {
    display: flex;
    justify-content: space-between;
    background: rgb(27, 27, 27);
}

.sticky-header-container__header {
    height: 64px;
}

.header__wrapper-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.header__theme-switch-button {
    background: #1b1b1b;
    color: #cdcdcd;
    border: none;
    font-size: 13px;
}

.header__login-account {
    font-size: 13px;
}

.header__input-search {
    max-width: 80px;
    width: 100%;
    border-radius: 1rem;
    background: #1b1b1b;
    border: 1px solid #cdcdcd;
    color: #cdcdcd;
    text-align: center;
}

.header__button-sign {
    font-size: 13px;
    cursor: pointer;
}

.header__logo {
    height: 24px;
}

.header__container {
    margin: 0 auto;
}

.wrapper__header {
    position: sticky;
    top: 0;
    z-index: 1;
}
